In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bar_chart_race as bcr
from IPython.display import HTML
import warnings
warnings.filterwarnings("ignore")
from IPython.display import Video

In [76]:
covid_data_complete = pd.read_excel('/home/archman/Downloads/covid_india.xlsx', index_col=False)
covid_data_complete.head()

        date   state  cases
0 2020-01-30  Kerala      1
1 2020-01-31  Kerala      1
2 2020-02-01  Kerala      2
3 2020-02-02  Kerala      3
4 2020-02-03  Kerala      3

In [77]:
covid_data = covid_data_complete.copy() #make a copy for analysis
covid_data.columns = ['Date', 'States', 'Cases'] #rename columns
covid_data.head(10)

        Date  States  Cases
0 2020-01-30  Kerala      1
1 2020-01-31  Kerala      1
2 2020-02-01  Kerala      2
3 2020-02-02  Kerala      3
4 2020-02-03  Kerala      3
5 2020-02-04  Kerala      3
6 2020-02-05  Kerala      3
7 2020-02-06  Kerala      3
8 2020-02-07  Kerala      3
9 2020-02-08  Kerala      3

In [78]:
total_countries = covid_data['States'].nunique()
total_countries

35

In [79]:
# set countries and date as index and find cases
# transpose the dataframe to have countries as columns and dates as rows
covid_data_by_date = covid_data.set_index(['States','Date']).unstack()['Cases'].T.reset_index()

covid_data_by_date = covid_data_by_date.set_index('Date') #make date as index - desired by barchartrace

covid_data_by_date = covid_data_by_date.fillna(0) #fill na with 0

covid_data_by_date

States,Andaman and Nicobar Islands,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,Chhattisgarh,Dadar Nagar Haveli,Delhi,Goa,...,Puducherry,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telengana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-02-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-02-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-28,33.0,3171.0,2.0,781.0,3061.0,279.0,369.0,2.0,15257.0,68.0,...,46.0,2139.0,7703.0,1.0,18545.0,2098.0,230.0,6991.0,469.0,4192.0
2020-05-29,33.0,3171.0,2.0,781.0,3061.0,279.0,369.0,2.0,15257.0,68.0,...,46.0,2139.0,7703.0,1.0,18545.0,2098.0,230.0,6991.0,469.0,4192.0
2020-05-30,33.0,3436.0,3.0,1024.0,3376.0,289.0,415.0,2.0,17386.0,69.0,...,51.0,2197.0,8365.0,1.0,20246.0,2425.0,251.0,7284.0,716.0,4813.0
2020-05-31,33.0,3569.0,4.0,1185.0,3636.0,289.0,447.0,2.0,18549.0,70.0,...,51.0,2233.0,8617.0,1.0,21184.0,2499.0,268.0,7445.0,749.0,5130.0
2020-06-01,33.0,3679.0,4.0,1272.0,3815.0,293.0,498.0,2.0,19844.0,70.0,...,70.0,2263.0,8831.0,1.0,22333.0,2698.0,313.0,7823.0,907.0,5501.0

In [80]:
#make the mp4 file with the BarChartRace and save it
df = covid_data_by_date
bcr.bar_chart_race(
    df=df,
    filename='India_Covid19_BarChartRace7.mp4',
    orientation='h',
    sort='desc',
    fixed_order=False,
    fixed_max=False,
    steps_per_period=10,
    interpolate_period=False,
    label_bars=True,
    bar_size=.95,
    period_label={'x': .50, 'y': .20, 'ha': 'right', 'va': 'center'},
    period_fmt='%B %d, %Y',
    period_length=1000,
    figsize=(8, 5),
    dpi=500,
    cmap='antique',
    title='COVID-19 Cases in India',
    title_size=10,
    bar_label_size=7,
    tick_label_size=6,
    shared_fontdict={'family': 'Arial', 'weight': 'bold',
                                    'color': 'rebeccapurple'},
    scale='linear',
    writer=None,
    fig=None,
    #bar_kwargs={'alpha': .2, 'ec': 'black', 'lw': 3},
    filter_column_colors=True)